/*Gerais*/
body {
    font-family: "Roboto", sans-serif;

}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de Navegação */

header, .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
#logo {
    width: 75px;   
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover{
    color: #FFF;
}
#navbar-links a {
    color: #FFF;
    transition: 0.5s;
}
#navbar-links a:hover{
    color:goldenrod;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
    
}

#mainSlider .carousel-caption {
    top: 30%;
    background-color: rgba(68, 68, 68,0.8);
    border-radius: 10px;
    
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: white;
}

.main-btn {
    background-color: goldenrod;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 0.5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    border: 3px solid goldenrod;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: goldenrod;
}

/* Sobre */
#about-area{
    background-color: #f9f9f9;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after{
    content:"";
    border-top: 3px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    margin-top: 15px;
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: goldenrod;
    margin-right: 15px;
}

/* Serviços */

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4{
    font-size: 24px;
    margin-bottom:20px;
}

.service-box:hover > i, .service-box:hover > h4{
    color: goldenrod;
    transform: scale(1.2);
}

/* Dados */

.circle-box div{
    padding: 0 40px;
}

.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p{
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}